.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../asset/Desktop.png");
  background-position: right;
  background-size: cover;
}

.header__images {
  display: none;
}

.header__content {
  width: 378px;
  height: 350px;
  margin: 0 auto;
}

.container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100vh;
  clip-path: polygon(0 0, 81% 0, 101% 100%, 0% 100%);
}
